anyio
appdirs
asgiref
click
colorama
faicons
h11
htmltools
idna
linkify-it-py
markdown-it-py
mdit-py-plugins
mdurl
narwhals
orjson
packaging
prompt-toolkit
python-multipart
questionary
shiny
sniffio
starlette
typing-extensions
uc-micro-py
uvicorn
watchfiles
wcwidth
websockets
